<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://localhost:8090/css/templatemo-style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<!--

Simple House

https://templatemo.com/tm-539-simple-house

-->
<body>

<div class="container">
    <!-- Top box -->
    <!-- Logo & Site Name -->
    <div class="placeholder">
        <div class="parallax-window" data-parallax="scroll"
             data-image-src="http://localhost:8090/img/simple-house-01.jpg">
            <!-- Cover Scection ,, i added this image just to test, remove it  -->

            <img src="http://localhost:8090/img/simple-house-01.jpg" alt="Logo" class="parallax-window-t"/>

            <!-- cover section -->
            <div class="tm-header">
                <div class="row tm-header-inner">
                    <div class="col-md-6 col-12">
                        <img src="http://localhost:8090/img/simple-house-logo.png" alt="Logo" class="tm-site-logo"/>
                        <div class="tm-site-text-box">
                            <h1 class="tm-site-title">Lucille</h1>
                            <h6 class="tm-site-description">Online Shopping</h6>
                        </div>
                    </div>
                    <nav class="col-md-6 col-12 tm-nav">
                        <ul class="tm-nav-ul">
                            <li class="tm-nav-li"><a href="/" class="tm-nav-link active">Home</a></li>
                            <li class="tm-nav-li"><a th:href="@{/cart}" class="tm-nav-link ">My Cart</a></li>
                            <li class="tm-nav-li"><a th:href="@{/logout}" class="tm-nav-link ">Logout</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="table-container" style="width: 90%;">
        <div style="text-align: center; margin: 30px; color: rgb(47, 98, 100);">
            <h1>My Orders</h1>
        </div>
        <table class="custom-table">
            <thead>
            <tr>
                <th>Order Id</th>
                <th>Order Date</th>
                <th>Total Amount</th>
                <th>Items Quantity</th>
                <th>Action</th>

            </tr>
            </thead><tbody>
        <tr th:each="i:${orders}">
            <td th:text="${i.id}"></td>
            <td th:text="${i.orderDate}"></td>
            <td th:text="${i.totalPrice}"></td>
            <td th:text="${i.itemsQuantity}"></td>
            <td>
                <a style="color: blue" th:href="@{/customer/orders/{id}(id=${i.id})}">
                    <i class="fa fa-solid fa-info"></i></a>
            </td>

        </tr>
        </tbody>
            <!-- Add more rows as needed -->
        </table>

    </div>

    <!--  <div class="container my-5 col-md-6">
          <table class="table table-striped table-hover my-5">
              <thead>
              <tr>

                  <th scope="col">Order Id</th>
                  <th scope="col">Order Date</th>
                  <th scope="col">Total Amount</th>
                  <th scope="col">Items Quantity</th>
                  <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="i:${orders}">

                  <td th:text="${i.id}"></td>
                  <td th:text="${i.orderDate}"></td>
                  <td th:text="${i.totalPrice}"></td>
                  <td th:text="${i.itemsQuantity}"></td>
                  <td>
                      <a style="color: blue" th:href="@{/orders/{id}(id=${i.id})}">
                          <i class="fa fa-solid fa-info"></i></a>

                  </td>
              </tr>
              </tbody>
          </table>
      </div>
  -->
    <footer class="tm-footer text-center">
        <p>Copyright &copy; 2020 Simple House

            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
    </footer>
</div>



</body>
</html>