<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
  <title>Reset Password</title>
</head>
<section layout:fragment="body">
  <style>
    .main {
      padding: 0px 10px;
    }

    @media screen and (max-width: 450px) {
      .login-form{
        margin-top: 10%;
      }
      .register-form{
        margin-top: 10%;
      }
    }
    @media screen and (min-width: 768px){
      .main{
        margin-left: 30%;
      }

      .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
      }
    }
  </style>
  <div class="main">
    <div class="col-md-6 col-sm-12">

      <div class="login-form">
        <form method="post" th:action="@{/reset/{id}(id=${id})}" >
          <div class="form-group">
            <label>New Password</label>
            <input
                    id="newPassword"
                    type="password"
                    class="form-control"
                    placeholder="newPassword"
                    name="newPassword">
          </div>

          <button type="submit" value="Reset" class="btn btn-secondary">Reset</button>
        </form>
      </div>
    </div>
  </div>
</section>
</html>