<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8090/css/templatemo-style.css"  />
</head>

<body>

<div class="container">
    <!-- Top box -->
    <!-- Logo & Site Name -->
    <div class="placeholder">
        <div class="parallax-window" data-parallax="scroll"
             data-image-src="http://localhost:8090/img/simple-house-01.jpg">
            <!-- Cover Scection ,, i added this image just to test, remove it  -->

            <img src="http://localhost:8090/img/simple-house-01.jpg" alt="Logo" class="parallax-window-t"/>

            <!-- cover section -->

            <div class="tm-header">
                <div class="row tm-header-inner">
                    <div class="col-md-6 col-12">
                        <img src="http://localhost:8090/img/simple-house-logo.png" alt="Logo" class="tm-site-logo"/>
                        <div class="tm-site-text-box">
                            <h1 class="tm-site-title">Lucille</h1>
                            <h6 class="tm-site-description">Online Shopping</h6>
                        </div>
                    </div>
                    <nav class="col-md-6 col-12 tm-nav">
                        <ul class="tm-nav-ul">
                            <li class="tm-nav-li"><a href="/admin" class="tm-nav-link active">Home</a></li>
                            <li class="tm-nav-li"><a th:href="@{/edit_admins}" class="tm-nav-link ">Admins</a></li>
                            <li class="tm-nav-li"><a th:href="@{/edit_inventory}" class="tm-nav-link ">Products</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="container" th:object="${user}"  style="width: auto; padding-top: 30px; margin-left: 450px; ">
        <form class="col-md-4 offset-md-4" method="post" enctype="multipart/form-data" th:action= "@{/update_admin/{id}(id=${user.id})}">
            <div class="mb-3" style="padding: 5px">
                <label for="adminEmail" class="form-label">Email</label>
                <input type="text" th:value="${user.email}" class="form-control" id="adminEmail" name="email" >
            </div>

            <div class="mb-3" style="padding: 5px">
                <label for="adminUsername" class="form-label">Username</label>
                <input type="text" th:value="${user.username}" class="form-control" id="adminUsername" name="username">
            </div>
            <div class="mb-3" style="padding: 5px">
                <label for="adminState" class="form-label">State</label><br>
                <label for="adminState" class="form-label" >The Current User State is : <p th:text="${user.state}"></p></label>
                <select id="adminState" class="form-select" style="padding: 5px; margin: 5px;width: 200px;" name="state">
                    <option value="INACTIVE" selected>INACTIVE</option>
                    <option value="ACTIVE">ACTIVE</option>
                    <option value="SUSPENDED">SUSPENDED</option>
                </select>
            </div>

            <center><button type="submit" class="btn btn-primary" style="width: 200px; margin: 10px; ">Submit</button></center>
        </form>
    </div>


    <footer class="tm-footer text-center">
        <p>Copyright &copy; 2020 Simple House

            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
    </footer>
</div>

  $(document).ready(function(){
    // Handle click on paging links
    $('.tm-paging-link').click(function(e){
      e.preventDefault();

      var page = $(this).text().toLowerCase();
      $('.tm-gallery-page').addClass('hidden');
      $('#tm-gallery-page-' + page).removeClass('hidden');
      $('.tm-paging-link').removeClass('active');
      $(this).addClass("active");
    });
  });
</script>
</body>
</html>