<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Simple House Template</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="http://localhost:8090/css/templatemo-style.css"  />
    <style>
       form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 1000px;
  border: 3px solid #3d504a;
}

.form-control{
   display:inline-block;
   width:100%
}

label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 16px;
  color: #3d504a;
}

input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

button{
  background-color: #3d504a;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #3d504a;
}

.error-message {
  color: red;
  margin-top: 5px;
}
  </style>

</head>

<body>

<div class="container">
    <!-- Top box -->
    <!-- Logo & Site Name -->
    <div class="placeholder">
        <div class="parallax-window" data-parallax="scroll" data-image-src="http://localhost:8090/img/simple-house-01.jpg">
            <div class="tm-header">
                <div class="row tm-header-inner">
                    <div class="col-md-6 col-12">
                        <img src="http://localhost:8090/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                        <div class="tm-site-text-box">
                            <h1 class="tm-site-title">Simple House</h1>
                            <h6 class="tm-site-description">new restaurant template</h6>
                        </div>
                    </div>
                    <nav class="col-md-6 col-12 tm-nav">
                        <ul class="tm-nav-ul">
                            <li class="tm-nav-li"><a href="/admin" class="tm-nav-link active">Home</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="container" th:object="${product}"  style="width: auto; padding-top: 30px; margin-left: 450px; ">
        <form class="col-md-4 offset-md-4" method="post" enctype="multipart/form-data" th:action= "@{/products/update_product/{id}(id=${product.id})}">
            <div class="mb-3" style="padding: 5px">
                <label for="productName" class="form-label">Name</label>
                <input type="text" th:value="${product.name}" class="form-control" id="productName" name="name" >
            </div>

            <div class="mb-3" style="padding: 5px">
                <label for="productPrice" class="form-label">Price</label>
                <input type="text" th:value="${product.price}" class="form-control" id="productPrice" name="price">
                <div id="product-price-error" class="form-error" style="color: red"></div>
            </div>

            <div class="mb-3" style="padding: 5px">
                <label for="productQuantity" class="form-label">Quantity</label>
                <input type="text" th:value="${product.quantity}" class="form-control" id="productQuantity" name="quantity">
                <div id="product-quantity-error" class="form-error" style="color: red"></div>
            </div>

<!--            <div class="mb-3" style="padding: 5px">-->
<!--                <label for="productCategory" class="form-label">Category</label>-->
<!--                <input type="text" th:value="${product.category}" class="form-control" id="productCategory" name="category">-->
<!--            </div>-->

            <div class="mb-3" style="padding: 5px">
                <label for="productCategory" class="form-label">Category</label><br>
                <label for="productCategory" class="form-label" ></label>
                <select id="productCategory" class="form-select" style="padding: 5px; margin: 5px;width: 200px;" name="category">
                    <option th:value="${product.category}" selected>Keep Same Category : <p th:text="${product.category}"></p><</option>
                    <option value="Pizza" >PIZZA</option>
                    <option value="Salad">SALAD</option>
                    <option value="Noodle">NOODLE</option>
                </select>
            </div>

<!--            <div class="custom-file mb-3" style="padding: 5px">-->
<!--                <label class="custom-file-label" for="customFile">Image</label>-->
<!--                <input type="file"  name="file" class="custom-file-input"-->
<!--                       id="customFile">-->
<!--            </div>-->
<!--            <div class="mb-3" style="padding: 5px">-->
<!--                <label for="adminState" class="form-label">State</label><br>-->
<!--                <label for="adminState" class="form-label" >The Current User State is : <p th:text="${user.state}"></p></label>-->
<!--                <select id="adminState" class="form-select" style="padding: 5px; margin: 5px;width: 200px;" name="state">-->
<!--                    <option value="INACTIVE" selected>INACTIVE</option>-->
<!--                    <option value="ACTIVE">ACTIVE</option>-->
<!--                    <option value="SUSPENDED">SUSPENDED</option>-->
<!--                </select>-->
<!--            </div>-->

            <center><button type="submit" class="btn btn-primary" style="width: 200px; margin: 10px; ">Submit</button></center>
        </form>
    </div>


    <footer class="tm-footer text-center">
        <p>Copyright &copy; 2020 Simple House

            | Design: <a rel="nofollow" href="https://templatemo.com">TemplateMo</a></p>
    </footer>
</div>
<script src="http://localhost:8090/js/jquery.min.js"></script>
<script src="http://localhost:8090/js/parallax.min.js"></script>
<script>
  $(document).ready(function(){
    // Handle click on paging links
    $('.tm-paging-link').click(function(e){
      e.preventDefault();

      var page = $(this).text().toLowerCase();
      $('.tm-gallery-page').addClass('hidden');
      $('#tm-gallery-page-' + page).removeClass('hidden');
      $('.tm-paging-link').removeClass('active');
      $(this).addClass("active");
    });
  });
</script>

<script>

  var productQuantityField = document.getElementById("productQuantity");
  var productQuantityError = document.getElementById("product-quantity-error");

  productQuantityField.addEventListener("input", function(event) {
    var fieldValue = event.target.value;

    // Remove non-numeric characters
    fieldValue = fieldValue.replace(/\D/g, "");

    // Limit to 16 digits
    fieldValue = fieldValue.slice(0, 5);

    // Update field value
    event.target.value = fieldValue;

    // Show error message if the field is invalid
    if (fieldValue.length == 5) {
      productQuantityError.textContent = "You must provide a numerical quantity of max 5 digits";
    } else{
      productQuantityError.textContent = "";
    }
  });

  var productPriceField = document.getElementById("productPrice");
  var productPriceError = document.getElementById("product-price-error");

  productPriceField.addEventListener("input", function(event) {
    var fieldValue = event.target.value;

    // Remove non-numeric characters
    fieldValue = fieldValue.replace(/\D/g, "");

    // Limit to 16 digits
    fieldValue = fieldValue.slice(0, 5);

    // Update field value
    event.target.value = fieldValue;

    // Show error message if the field is invalid
    if (fieldValue.length == 5) {
      productPriceError.textContent = "You must provide a numerical quantity of max 5 digits";
    } else{
      productPriceError.textContent = "";
    }
  });
</script>
</body>
</html>